/* =========================================
Helpers
============================================ */

/* ---------------------
Margins
-----------------------*/
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-left-5 {
  margin-top: 5px;
}
.margin-left-10 {
  margin-top: 10px;
}
.margin-left-20 {
  margin-top: 20px;
}
.margin-left-40 {
  margin-top: 40px;
}



/* ---------------------
Paddings
-----------------------*/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   overflow: hidden;
}


.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}
.padding-40 {
  padding: 40px;
}


.padding-l-5 {
  padding-left: 5px;
}
.padding-l-10 {
  padding-left: 10px;
}
.padding-l-20 {
  padding-left: 20px;
}
.padding-r-5 {
  padding-right: 5px;
}
.padding-r-10 {
  padding-right: 10px;
}
.padding-r-20 {
  padding-right: 20px;
}


.ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.ph-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.ph-40 {
  padding-left: 40px;
  padding-right: 40px;
}


.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pv-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pv-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pv-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pv-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}


.space-top {
  padding-top: 20px;
}
.space-bottom {
  padding-bottom: 20px;
}


/* ---------------------
Clears
-----------------------*/
.margin-clear {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.padding-top-clear {
  padding-top: 0 !important;
}
.padding-bottom-clear {
  padding-bottom: 0 !important;
}
.padding-ver-clear {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.padding-hor-clear {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.border-bottom-clear {
  border-bottom: none !important;
}
.border-top-clear {
  border-top: none !important;
}
.border-clear {
  border: none !important;
}
.circle {
  -webkit-border-radius: 100%!important;
  -moz-border-radius: 100%!important;
  border-radius: 100%!important;
}
.radius-clear {
  -webkit-border-radius: 0%!important;
  -moz-border-radius: 0%!important;
  border-radius: 0%!important;
}
/* Small devices (tablets, phones less than 767px) */
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}